---
- name: Stat google-chrome executable
  stat:
    path: /usr/bin/google-chrome
  register: gc_exec
  tags: googlechrome

- name: Install dependencies
  ansible.builtin.apt:
    pkg:
      - ca-certificates-java
      - fonts-liberation
      - java-common
      - libpcsclite1
      - gpg
    state: fixed
  when: googlechrome_state != "absent"
  tags: googlechrome

- name: Install Google Chrome
  apt:
    deb: http://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  when: not gc_exec.stat.exists and googlechrome_state == "present"
  tags: googlechrome

- name: Uninstall Google Chrome
  ansible.builtin.apt:
    name: google-chrome-stable
    state: absent
  when: googlechrome_state == "absent"
  tags: googlechrome
